<h3>Html5</h3>

<p>Here are some html5 controls:</p>

<div class="well line-example">
{{#em-form model=model submit_button=false}}
    {{em-input property="email" type="email"}}
    {{em-input property="tel" type="tel"}}
    {{em-input property="range" type="range"}}
    {{em-input property="date" type="date"}}
    {{em-input property="date" type="date"}}
    {{em-input property="time" type="time"}}
    {{em-input property="month" type="month"}}
    {{em-input property="week" type="week"}}
    {{em-form-submit disabled=false}}
{{/em-form}}
</div>